h2{
    text-align: center;
    color: white;
    background-color: blue;
    margin: 2rem;
}
p{
    font-size: 20px;
    margin-left: 1rem;

}
.para1{
    background-image: linear-gradient(to bottom right, #47d5ea, #5ef95cd6);
    
}

